/*popup_sigin*/
.modal-header, .modal-body, .modal-footer {
    border: unset;
}
.modal-body{
    padding: 0px;
}
.modal-dialog {
    max-width: unset;
}

.modal-content {
    border: 0px solid rgba(0, 0, 0, .2);
    border-radius: 1.3rem;
}

#popup_sigin {
    height: 778px;
    width: 730px;
    margin: 0 auto;
}

#popup_sigin .modal-content .modal-header {
    height: 228px;
    width: 730px;
    background: url(../images/Login.svg);
}

#popup_sigin .modal-content .modal-body h1 {
    height: 32px;
    color: #323232;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    text-align: center
}

#popup_sigin .modal-content .modal-body p {
    height: 18px;
    color: #323232;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

#popup_sigin .modal-content .modal-body ul li {
    list-style: none;
    display: inline-block;
    height: 48px;
    width: 212px;
    border-radius: 4px;
    padding: 15px;
    color: #fff;
    margin: 5px;
}

#popup_sigin .modal-content .modal-body ul .btn_modalgoogle {
    background: #323232;
}

#popup_sigin .modal-content .modal-body ul .btn_modalfacebook {
    background: #3366FF;
}

#popup_sigin .modal-content .modal-body ul .btn_modalprinterest {
    background: #FF3F3F;
}
.form_modal,.askform_modal{
    text-align: center;
}
#popup_sigin .modal-content .modal-body .input_modal {
    height: 60px;
    width: 372px;
    color: #A9A9A9;
    font-size: 16px;
    line-height: 22px;
    margin: 15px 0px;
    text-indent: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
