@font-face {
	font-family: SF-Pro-Text;
	src: url(../fonts/SF-Pro-Text-Regular.otf);
}

@font-face {
	font-family: SF-Pro-Text;
	src: url(../fonts/SF-Pro-Text-Light.otf);
	font-weight: 100;
}

@font-face {
	font-family: SF-Pro-Text;
	src: url(../fonts/SF-Pro-Text-Bold.otf);
	font-weight: 600;
}
@font-face {
	font-family: SF-Pro-Text;
	src: url(../fonts/SF-Pro-Text-Semibold.otf);
	font-weight: 700;
}


body {
	font-size: 14px;
	font-family: "SF-Pro-Text", "sans-serif", "Arial";
	position: relative;
	overflow-x: hidden;
	color: #666;
	background-color: #fafafa;
}

.collapse:not(.show) {
	display: block;
	text-align: right;
}

.collapse>ul {
	display: block;
}

.collapse>ul>li {
	display: inline-block;
	margin-right: 10px;
}

.admin_panel .navbar {
	padding: 0;
	background: #e7e7e7;
}

.admin_panel .navbar-nav .dropdown-menu {
	position: absolute;
	min-width: 100px;
	width: 100px;
	padding: 5px;
	margin: 5px;
	font-size: 16px;
	text-align: center;
	left: inherit;
	right: 0;
}

@media (min-width:768px) {
	.container {
		width: 750px
	}
}

@media (min-width:992px) {
	.container {
		width: 970px
	}
}

@media (min-width:1200px) {
	.container {
		width: 1230px;
		padding: 0 15px;
		max-width: 100%;
	}
}

.img-zoom {
	max-width: 100%;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transition: .6s all ease;
	-webkit-transition: .6s all ease;
	-moz-transition: .6s all ease;
	-ms-transition: .6s all ease;
	-o-transition: .6s all ease;
}

.img-zoom:hover {
	transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transition: .6s all ease;
	-webkit-transition: .6s all ease;
	-moz-transition: .6s all ease;
	-ms-transition: .6s all ease;
	-o-transition: .6s all ease;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 34px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

a:hover {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
	outline: none;
}

a,
button,
input {
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=search],
textarea {
	border: 1px solid #e1e1e1;
	padding: 8px 15px;
	font-size: 14px;
	color: #888888;
	border-radius: 0;
	font-family: 'SF-Pro-Text', sans-serif;
}

button,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=search]:focus,
textarea:focus {
	border-color: #666666;
	outline: none;
}


/*!
menu mobile
*/

.menu-bar-mobile {
	position: fixed;
	height: 100%;
	width: 300px;
	background: #fff;
	z-index: 9999999;
	box-shadow: 1px 0px 1px #ccc;
	overflow-y: scroll;
	display: none;
}

.logo-menu {
	float: left;
	width: 100%;
	text-align: center;
}

.logo-menu img {
	width: 180px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.menu-bar-lv-1 {
	float: left;
	width: 100%;
	position: relative;
}

.menu-bar-lv-1 a {
	float: left;
	width: 100%;
	height: 40px;
	line-height: 30px;
	background: #fff;
	margin-bottom: 1px;
	padding: 5px 15px;
	font-size: 14px;
	border-top: 1px solid #ebebeb;
	color: #3e3e3e;
}

.menu-bar-lv-1 a:hover {
	box-shadow: 0px 0px 2px #443333;
}

.menu-bar-lv-1 span {
	position: absolute;
	right: 10px;
	top: 4px;
	width: 30px;
	height: 30px;
	font-size: 17px;
	text-align: center;
	padding-top: 9px;
	cursor: pointer;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
}

.menu-bar-lv-2,
.menu-bar-lv-3 {
	position: relative;
	float: left;
	width: 100%;
	display: none;
}

.menu-bar-lv-2 a {
	position: relative;
	float: left;
	width: 100%;
	padding: 5px 15px;
}

.menu-bar-lv-2 i:last-child {
	margin-right: 7px;
}

.menu-bar-lv-3 a {
	position: relative;
	float: left;
	width: 100%;
	padding: 5px 33px;
}

.rotate-menu {
	transform: rotate(180deg);
	top: 10px !important;
}

.menu-btn-show {
	position: absolute;
	width: 28px;
	height: 27px;
	float: left;
	margin-right: 15px;
	cursor: pointer;
	right: 15px;
	top: 130px;
	z-index: 9999;
}

.menu-btn-show .border-style {
	width: 100%;
	height: 4px;
	background: #666;
	float: left;
	margin-bottom: 5px;
	border-radius: 10px;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
}

.fixed-box .menu-btn-show .border-style {
	/*background: #fff;*/
	background: #38a7e0;
}

.box-login-logout {
	float: left;
	width: 100%;
	position: relative;
	background: #f9f9f9;
}

.boder-rotate {
	position: absolute;
	left: 50%;
	height: 40px;
	width: 1px;
	background: #ebebeb;
	transform: rotate(30deg);
}

.box-login-logout i {
	margin-right: 6px;
}

.box-login-logout .left {
	float: left;
	width: 50%;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	font-size: 15px;
	border-top: 1px solid #ebebeb;
}

.shadow-open-menu {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.51);
	z-index: 999;
	display: none;
}

.menu-btn-show.active .border-style {
	background: #fff;
	display: none;
}

.menu-btn-show.active .border-style:first-child {
	transform: rotate(42deg);
	margin-top: 5px;
	display: block;
}

.menu-btn-show.active .border-style:last-child {
	transform: rotate(-42deg);
	margin-top: -9px;
	display: block;
}

@media screen and (min-width: 992px) {
	.menu-btn-show {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.menu-btn-show {
		display: block;
	}
	.main-menu,
	.hide-mobile {
		display: none;
	}
	.menu-btn-show {
		top: 50px;
		right: 1%;
	}
}

@media screen and (max-width: 360px) {
	.menu-bar-mobile {
		width: 250px;
	}
}

.search-mobile {
	width: 100%;
	float: left;
}

.box-search-mobile {
	height: 30px;
	position: relative;
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
}

.box-search-mobile form {
	height: 100%;
}

.box-search-mobile form .inputSearch {
	border: 1px solid #002664;
	border-radius: 15px;
	padding: 0px 0px 0px 15px;
	font-size: 12px;
	font-style: italic;
	height: 100%;
	color: #8c8c8c;
	width: 100%;
}

.box-search-mobile form .inputSearch::-webkit-input-placeholder,
.box-search-mobile form .inputSearch::-moz-placeholder,
.box-search-mobile form .inputSearch::-moz-placeholder,
.box-search-mobile form .inputSearch:-ms-input-placeholder {
	color: #8c8c8c;
}

.box-search-mobile form .submitForm {
	width: 40px;
	height: 31px;
	background: transparent;
	color: #002664;
	height: 31px;
	border: none;
	border-radius: 15px;
	font-weight: bold;
	font-size: 15px;
	position: absolute;
	right: 0px;
	top: 0;
	cursor: pointer;
}

@keyframes bounceIn{
	0%{
		opacity: 0;
		transform: scale(0.3) translate3d(0,0,0);
	}
	50%{
		opacity: 0.9;
		transform: scale(1.1);
	}
	80%{
		opacity: 1;
		transform: scale(0.89);
	}
	100%{
		opacity: 1;
		transform: scale(1) translate3d(0,0,0);
	}
}
/*menu-main*/

.menu-index .main-menu {
	text-align: center;
}

.main-menu>ul>li a {
	/*font-weight: 600;*/
	position: relative;
}
.main-menu>ul>li:hover a,
.main-menu>ul>li.active a {
	color: #000;
}

.main-menu>ul>li:hover:after, .main-menu>ul>li.active:after {
	content: "";
	border-bottom: 3px solid #fd6e24;
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: 450ms;
	animation-duration: 450ms;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
}


/*Main menu ngang*/

.main-menu>ul {
	margin: 0 auto;
	width: 100%;
	list-style: none;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	text-align: center;
}

.main-menu>ul:before {
	content: "";
	display: table;
}

.main-menu>ul:after {
	content: "";
	display: table;
	clear: both;
}

.main-menu>ul>li {
	height: 56px;
	line-height: 56px;
	/* float: left; */
	padding: 0;
	margin: 0;
	display: inline-block;
	position: relative;
}

.main-menu>ul>li a {
	text-decoration: none;
	padding: 0 25px;
	display: block;
	font-size: 14px;
	position: relative;
	text-transform: none;
	color: #A9A9A9;
	transition: .6s all ease;
	-webkit-transition: .6s all ease;
	-moz-transition: .6s all ease;
	-ms-transition: .6s all ease;
	-o-transition: .6s all ease;
	height: 56px;
}

.main-menu>ul>li:first-child a {
	margin-left: 0px;
}

.main-menu>ul>li:last-child a {
	margin-right: 0px;
}

.main-menu>ul>li:hover>ul {
	display: block;
	transition: .6s all ease;
	-webkit-transition: .6s all ease;
	-moz-transition: .6s all ease;
	-ms-transition: .6s all ease;
	-o-transition: .6s all ease;
}

.main-menu>ul>li>ul {
	display: none;
	width: 200px;
	background-color: #fff;
	padding: 0px;
	position: absolute;
	z-index: 99;
	left: 0px;
	margin: 0px;
	list-style: none;
	box-sizing: border-box;
	text-align: left;
	box-shadow: 0px 2px 3px rgba(154, 142, 142, 0.48);
	transition: .6s all ease;
	-webkit-transition: .6s all ease;
	-moz-transition: .6s all ease;
	-ms-transition: .6s all ease;
	-o-transition: .6s all ease;
}

.main-menu>ul>li>ul:before {
	content: "";
	display: table;
}

.main-menu>ul>li>ul:after {
	content: "";
	display: table;
	clear: both;
}

.main-menu>ul>li>ul>li {
	margin: 0;
	padding-bottom: 0;
	list-style: none;
	width: 100%;
	float: left;
	display: block;
	position: relative;
}

.main-menu>ul>li>ul>li a {
	padding: 6px 15px 6px 15px;
	width: 100%;
	display: block;
	border-bottom: 1px solid rgba(204, 204, 204, 0.63);
	font-size: 13px;
	font-weight: 400;
	text-transform: none;
	margin: 0px;
	clear: both;
	color: #333;
	white-space: nowrap;
}

.main-menu>ul>li>ul>li>ul {
	padding: 0;
	margin: 0px;
	list-style: none;
	box-sizing: border-box;
	position: absolute;
	left: 130%;
	min-width: 210px;
	background-color: #fff;
	top: 0px;
	box-shadow: 0px 0px 5px #ccc;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	visibility: hidden;
	opacity: 0;
}

.main-menu>ul>li>ul>li:hover>a {
	background: #dee2e6;
}

.main-menu>ul>li>ul>li:hover>ul {
	left: 100%;
	visibility: visible;
	opacity: 1;
}

.main-menu>ul>li>ul>li>ul:before {
	content: "";
	display: table;
}

.main-menu>ul>li>ul>li>ul:after {
	content: "";
	display: table;
	clear: both;
}

.main-menu>ul>li>ul>li>ul>li {
	float: left;
	width: 100%;
	padding: 0px 0;
	margin: 0;
	border-bottom: 1px solid #ebebeb;
}

.main-menu>ul>li>ul>li .fa-caret-right {
	position: absolute;
	right: 11px;
	top: 12px;
	color: #fff;
}

.main-menu>ul>li>ul>li>ul>li a {
	border: 0;
}

.main-menu>ul>li>ul>li>ul>li a:hover {
	background: #dee2e6;
}

.main-menu>ul>li>ul.normal-sub {
	width: 200px;
	left: auto;
	padding: 5px 20px 9px 20px;
	background: rgba(8, 132, 57, 0.78);
	border-top: 5px solid #178544;
}

.main-menu>ul>li>ul.normal-sub>li {
	width: 100%;
}

.main-menu>ul>li>ul.normal-sub>li a {
	border: 0;
	padding: 1em 0;
	border: 0;
	padding: 9px 0px;
	border-bottom: 1px solid rgba(226, 222, 222, 0.31);
	color: #dad1d1;
}

.main-menu>ul>li>ul.normal-sub>li a:hover {
	color: #fff;
}

.main-menu>ul>li>ul.normal-sub>li:last-child a {
	border-bottom: none;
}

.main-menu>ul>li:last-child>ul {
	right: 0px;
	left: initial;
}

.normal-sub li a:before {
	content: "•";
	line-height: 0;
	margin-right: 10px;
	font-size: 19px;
	position: static;
	color: #27AE61;
	margin-top: 9px;
	float: left;
}

.main-menu>ul>li:hover>a:before,
.main-menu>ul>li:hover>a:after {
	width: 50%;
	border-radius: 0;
	-moz-transition-duration: 0.7s;
	-webkit-transition-duration: 0.7s;
	transition-duration: 0.7s;
	display: none;
}

.main-menu>ul>li>a:after {
	content: "";
	height: 1px;
	position: absolute;
	right: 20px;
	width: 0;
	top: 75%;
	margin-top: 0px;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	background: #ccc;
	display: none;
}

.main-menu>ul>li>a:before {
	content: "";
	height: 1px;
	position: absolute;
	left: 20px;
	width: 0;
	top: 75%;
	margin-top: 0px;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	display: none;
	background: #ccc;
}

.main-menu>ul>li.active>a:before,
.main-menu>ul>li.active>a:after {
	width: 50%;
}

.content-head-center {
	position: relative;
	text-transform: uppercase;
}


/*end-menu-main*/


.product_in_home .product-f-image {
	position: relative;
	overflow: hidden;
}

.product_in_home .product-hover {
	height: 100%;
	right: 0;
	/*position: absolute;*/
	top: 0;
	width: 100%;
	overflow: hidden;
	border: 1px solid #ddd;
}

.product_in_home .product-share {
	content: "";
	height: 100%;
	right: -100%;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 15%;
	transition: .4s;
	text-align: center;
	padding-top: 15%;
}
.product_in_home .product-share ul li a {
	background: #fff;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	text-align: center;
	float: left;
	line-height: 35px;
	margin-bottom: 15px;
}
.product_in_home .product-share ul li a:hover img {
	filter: invert(148%) sepia(137%) saturate(2885%) hue-rotate(379deg) brightness(90%) contrast(437%);
}

.product_in_home .single-product:hover .product-share {
	right: 0
}

.product_in_home .product-hover .view-details {
	background: none repeat scroll 0 0 #fff;
	border-radius: 5px;
	display: block;
	margin: 0;
	position: absolute;
	width: 100%;
	z-index: 99;
	transition: .4s;
	height: 60px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 1px solid #dedede;
}
.product_in_home .product-hover .view-details .sort_desc {
	float: left;
	width: 60%;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding-right: 5px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	color: #323232;
}
.product_in_home .product-hover .view-details .sort_desc:hover {
	color: #fd6e24;
}

.product_in_home .profile img {
	max-width: 20px;
	margin-right: 5px;
}
.product_in_home .product-hover .view-details .profile {
	width: 40%;
	float: left;
	overflow: hidden;
	word-break: break-all;
	line-height: 15px;
	display: flex;
	align-items: center;
	color: #A9A9A9;
	font-size: 14px;
}
.product_in_home .product-hover .view-details .profile:hover {
	color: #fd6e24;
}

.product_in_home .product-hover .view-details {
	bottom: -25%;
}

.product_in_home .single-product {
	overflow: hidden;
}
.product_in_home .single-product .info {
	float: left;
	width: 100%;
	padding: 0 15px;
	height: 44px;
	line-height: 44px;
}
.product_in_home .single-product .info .price, .product_in_home .single-product .info .printer {
	float: left;
	width: 50%;
}
.product_in_home .single-product .info .printer {
	text-align: right;
	color: #323232;
	font-size: 14px;
}
.product_in_home .single-product .info .price {
	color: #323232;	
	font-size: 16px;	
	font-weight: 600;
}

.product_in_home .single-product .info .price img,
.product_in_home .single-product .info .printer img {
	max-width: 24px;
	max-height: 24px;
}

.product_in_home .single-product:hover .product-hover .view-details {
	bottom: 0;
}

.product-f-image .img {
	float: left;
	width: 100%;
	padding: 50%;
	position: relative;
	overflow: hidden;
}
.product-f-image .img a {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.product-f-image .img a img {
	object-fit: cover;
	object-position: center;
	height: 100%;
	min-width: 100%;
}
@media (min-width: 575px) {
	.product_in_home .row {
		margin-left: -7.5px;
		margin-right: -7.5px;
	}
	.product_in_home .col-lg-3 {
		padding: 7.5px;
	}
}
.top-header {
	float: left;
	width: 100%;
}
.top-header .logo {
	float: left;
	width: 20%;
	height: 80px;
	line-height: 80px;
}
.top-header .logo img {
	max-width: 100%;
}
.top-header .header-right {
	float: right;
	height: 80px;
	display: flex;
	align-items: center;
}
header .col_head {
	display: inline-block;
	margin-left: 25px;
}
.profile img {
	max-width: 25px;
	border-radius: 100%;
	margin-left: 5px;
}
.profile a {
	color: #323232;
}
.profile a:hover {
	color: #fd6e24;
}
.header-right .my-cart a {
	width: 188px;
	height: 40px;
	line-height: 40px;
	float: left;
	background: #fd6e24;
	border-radius: 6px;
	text-align: center;
	color: #fff;
}
.header-right .my-cart a img {
	margin-right: 10px;
}
.header-right .my-cart a:hover {
	background: #333;

}
.header-right .to-designer a {
	float: left;
	width: 188px;
	height: 40px;
	line-height: 40px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	color: #323232;
}
.header-right .to-designer a:hover {
	color: #fd6e24;
}
.header-right .to-designer a img {
	margin-right: 5px;
}
.profile .user {
	display: none;
}
.profile ul.sign-up li {
	display: inline-block;
}
.bottom-header {
	float: left;
	width: 100%;
	text-align: center;
}
.bottom-header .title h2 {
	color: #323232;	
	font-size: 32px;	
	font-weight: 600;	
	line-height: 40px;
}
.bottom-header .title p {
	color: #666666;
	font-size: 20px;	
	line-height: 28px;
}
#banner_home, .menu-index {
	float: left;
	width: 100%;
}
.searchbox {
	position: relative;
	width: 50%;
	margin: 0 auto
}
.searchbox form input {
	width: 100%;
	float: left;
	height: 72px;
	border: none;
	box-shadow: 0 5px 20px 0px #dcdcdc8c;
	border-radius: 6px;
	padding: 0 35px;
}
.searchbox form input:hover {
	box-shadow: 0 5px 20px 17px #dcdcdc8c;
}
.searchbox form button {
	position: absolute;
	top: 12px;
	right: 2%;
	border: none;
	background: #fd6e24;
	width: 48px;
	height: 48px;
	border-radius: 100%;
}
.searchbox form button:hover {
	background: #333;
}
.searchbox .filter_cl {

}
.searchbox .filter_cl a {
	color: #fff;
	position: absolute;
	left: 103%;
	width: 112px;
	height: 48px;
	background: #333;
	line-height: 48px;
	text-align: center;
	top: 12px;
}
.searchbox .filter_cl a:hover {
	background: #fd6e24;
}
.searchbox .filter_cl img {
	margin-right: 5px;
}

.menu-index {
	height: 56px;
	background: #fff;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #edededbf;
}
footer {
	float: left;
	width: 100%;
	padding: 30px 0;
	background: #252525;
}
.top-footer, .bottom-footer {
	float: left;
	width: 100%;
	padding: 0 10%;
	margin-bottom: 30px;
}
.top-footer .logo-ft {
	float: left;
	max-width: 15%;
}
.top-footer .logo-ft img {
	max-width: 100%;
}
.top-footer .social {
	float: right;
}
.top-footer .social ul li {
	display: inline-block;
	margin-left: 15px;
}
.top-footer .social ul li img {
	max-width: 18px;
	max-height: 18px;
}
.news_letter img {
	float: left;
	max-width: 65px;
	margin-right: 10px;
	min-height: 40px;
}
.news_letter .content span {
	color: #FFFFFF;	
	line-height: 18px;
	font-weight: 100;
}
.news_letter .content {
	float: left;
	width: 100%;
	margin-bottom: 25px;
}
.news_letter form input {
	float: left;
	height: 40px;
	border-radius: 6px;
	border: 1px solid #ffffff75;
	background: #252525;
	color: #fff;
	width: 70%;
}
.news_letter form button {
	float: left;
	width: 25%;
	border: none;
	height: 40px;
	border-radius: 6px;
	margin-left: 5%;
	background: orange;
	color: #fff;
}
.news_letter form button:hover {
	background: #fd6e24;
}
.coppyright {
	float: left;
	width: 100%;
	text-align: center;
	color: #D6D6D6;
	font-weight: 100;
}
.product_in_home-index {
	float: left;
	width: 100%;
	margin: 30px 0;
}
.title-p {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.title-p a {
	color: #323232;	
	font-size: 16px;
	line-height: 19px;
}
.title-p img {
	max-width: 33px;
	max-height: 33px;
	margin-right: 5px;
}
.product_in_home {
	float: left;
	width: 100%;
}
.product_in_home .single-product {
	float: left;
	width: 100%;
	border-radius: 4px;
	box-shadow: 0 0 4px 1px #33333340;
}
.view_more {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 15px;
}
.view_more a {
	color: #323232;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
}
.view_more a:hover {
	color: #fd6e24;
}
#categories {
	display: none;
	border : 1px solid #000;
	width: 200px;
}


.item-filter input[type="checkbox"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
	visibility: hidden;
}

.item-filter input[type="checkbox"],
.item-filter label.icon-check::before,
.item-filter input[type="checkbox"]:checked + label.icon-check::after {
	width: 20px;
	height: 20px;
	background: #000;
	top: 50%;
	left: 0px;
	margin-top: -7px;
	position: absolute;
	cursor: pointer;
}

.item-filter label.icon-check {
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 5px 5px 0 30px;
	vertical-align: top;
	cursor: pointer;
	color: #505050;
	font-size: 14px;
}

.item-filter label.icon-check::before {
	content: '';
	border: 1px solid #d4d4d4;
	background: #fff;
	border-radius: 2px;
}

.item-filter input[type="checkbox"]:checked + label.icon-check::before {
	border: 1px solid #eb1100;
}

.item-filter input[type="checkbox"]:checked + label.icon-check::after {
	content: '';
	text-align: center;
	line-height: 14px;
	color: #eb1100;
	font-weight: bold;
	width: 15px;
	height: 15px;
}
.custom-control-label::before {
	width: 20px;
	height: 20px;

}
.custom-control {
	display: flex;
	align-items: center;
	padding-left: 2rem;
	margin-bottom: 10px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: inherit;
	border: 1px solid #007bff;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
	background-image: inherit;
	width: 13px;
	height: 13px;
	top: 6.5px;
	left: 3.5px;
	background: #007bff;
	border-radius: .25rem;
}
.modal.left .modal-dialog,
.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: 320px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
	padding: 15px 15px 80px;
}
.modal.right.fade .modal-dialog {
	right: 0;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	-o-transition: opacity 0.3s linear, right 0.3s ease-out;
	transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
	right: 0;
}
#filter_index {
	text-align: left;
}
#filter_index .modal-content {
	padding: 15px;
}
#filter_index .modal-header {
	border-bottom: none;
}
.title-ft h2 {
	color: #464646;	
	font-size: 24px;	
	font-weight: 600;	
	line-height: 32px;
}
.title-ft-b {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.title-ft-b h4 {
	color: #464646;
	font-size: 14px;	
	font-weight: 600;	
	line-height: 16px;
}
.title-ft-b select {
	border: 1px solid #E0E0E0;
	border-radius: 4px;
	background-color: #FCFCFC;
	width: 100%;
	height: 44px;
	padding: 0 15px;
}
.title-ft-b ul {
	text-align: center;
}
.title-ft-b ul li {
	display: inline-block;
	margin: 8px;
}
.title-ft-b ul li a {
	width: 28px;
	height: 28px;
	float: left;
	border-radius: 100%;
}